jenkins:
  controller:
      admin:
          username: IamJenkinsUser
          password: ThisIsMyPassword
      JCasC:
          securityRealm: |-
              local:
                allowsSignup: false
                enableCaptcha: false
                users:
                - id: "${chart-admin-username}"
                  name: "Jenkins Admin"
                  password: "${chart-admin-password}"
          configScripts:
              jenkins-casc-configs: |
                  credentials:
                    system:
                      domainCredentials:
                        - credentials:
                            - usernamePassword:
                                id: "dockerCredentials"
                                username: "IamDockerUser"
                                password: "mySuperSecretPassword"
                                description: "Docker Hub Credentials"